[Unit]
Description=quotes node app
After=network.target

[Service]
Type=simple
User=developer
WorkingDirectory=/home/developer/webapp/
ExecStart=/usr/bin/npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target